@font-face {
    font-family: IRANSans;
    src:url("../fonts/IRANSans-Light-web.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body , input , textarea {
    font-family: IRANSans , "Times New Roman";
}

.wrapper {
    margin: 2em auto;
    padding: 0 1em;
    max-width: 1200px;
    direction: rtl;
}

table {
    width: 100%;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    margin: 10px 0;
}

th , td {
    padding: 6px;
    text-align: center;
    border: 1px solid #dddddd;
    margin: 0;
}

th {
    background-color: #666666;
    color: #ffffff;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.mar2 {
    margin: 2em 0;
}

.ma-lr-1 {
    margin-left: 1em;
    margin-right: 1em;
}

.pad-tb-1 {
    padding: 1em 0;
}

.underline {
    text-decoration: underline;
    color: #888888;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

.center-align {
    text-align: center;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #222222;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    width: 130px;
    position: absolute;
    top: 26px;
    left: 0;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.btn {
    padding: 4px 12px;
    margin: 2px auto 5px;
    background: none;
    border-radius: 6px;
    border: none;
    display: inline-block;
    border: 1px solid #ffffff;
}

.btn-info {
    background-color: #0542ff;
    color: #ffffff;
    font-weight: bold;
}

.btn-exit {
    background-color: #fe1341;
    color: #ffffff;
    font-weight: bold;
}

.actions-btn {
    margin: 0 4px;
    flex: 1;
}

.actions-btn img {
    max-width: 25px;
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-align-middle {
    vertical-align: middle;
}

.font8 {
    font-size: 12px;
}

.font9 {
    font-size: 15px;
}

.font10 {
    font-size: 18px;
}

.font11 {
    font-size: 22px
}

.form-container {
    height: 100vh;
    display: grid;
    place-items:center;
}

.page-icon img {
    width: 100%;
    max-width: 200px;
}

.main-form {
    width: 300px;
    margin: 0 auto;
}

.form-title {
    font-weight: bold;
}

.main-form input:not([type="submit"]) , textarea{
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    margin: 6px auto;
}

input[type="submit"] {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding: 0 20px;
    background-color: #fafafa;
    box-shadow: 0 2px 5px #aaaaaa;
    height: 60px;
}

.header .item {
    margin: 0 10px;
}
